!!! 5
%html.game
  %head
    %meta(charset='UTF-8')
    %meta(content='width=device-width, initial-scale=1' name='viewport')
    %title Brainstorm - Game
    %link(href="https://fonts.googleapis.com/css?family=Fredoka+One%7COpen+Sans" rel="stylesheet")
    %link(rel="icon" type='image/png' href="images/storm_logo.png")
    %link(rel='stylesheet' href='libdev/styles/main.min.css')
  %body.game
    %audio.music(style="display: none" loop)
      %source.song(style="display:none" src="embedded music/01 Heartbeats [DVD].mp3" type="audio/mpeg")
    %header.profile
      %img.storm(src='images/storm_logo.png' alt='grey storm logo')
      %img.lightning(src='images/storm_logo_white.png' alt='white storm logo')
      %h1.logo(data-shadow='brainstorm') brainsto.rm
    %input.mute-button(type="button" value="Mute")
    %input.start-game(type="button" value="Start Game")
    .game-container.active
      %form.solution
        %input.solution-field(id="solution-field" type="text" placeholder="=")
      %form.score-submission
        %input.score-to-send(type="text" readonly="readonly")
        %input.user-id(type="text" readonly="readonly")
    .scores-container
      %ul
        %li.solution-score +100
        %li.current-score SCORE: 0
        %li.personal-best PERSONAL BEST: 0
      .high-score HIGH SCORE: 0
    %script(src="libdev/js/vendor.min.js")
    %script(src="libdev/js/game.js")
